*,html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}
.container-description{
    width: 700px;
    height: 700px;
    margin: 0 auto;
}
.description h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.9em;
    text-align:center;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.description ul{
    text-decoration:none;
    list-style:decimal;
}
.description ul li{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 70%;
}
.container-img{
    display: flex;
    background-color: #D6E1E8;
    width: 100vh;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-acao{
    display: flex;
    height: 100px;
    margin-top: 50px;
    justify-content: space-between;
}
.container-acao p {
    font-size: 28px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.container-acao a{
    background-color: #506265;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    text-align: center;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}